.root {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
}

.subRoot {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.subRoot1 {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    margin: 20px;
}

.footer {
    background-color: darkgray;
    height: 80px;
}

.leftAccordion {
    flex: 2;
    padding: 15px;
}

.rightContent {
    flex: 3;
}